
h1{
    padding-top: 80px;
    font-family: Rotunda;
    letter-spacing: -1px;
    font-size: 100px;
    color: #7704ba;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}
.app {
    margin-top: -75px;
    height: 100vh;
    width: 100vw;
    background-image: url("../../images/home-page-bg.jpg");
}