@font-face {
  font-family: ZonaBlack;
  src: url(./font/Zona-Pro/ZonaPro-Black.otf);
}

@font-face {
  font-family: Zona;
  src: url(./font/Zona-Pro/ZonaPro-Bold.otf);
}

@font-face {
  font-family: Rotunda;
  src: url(./font/Rotunda/Rotunda-Bold.ttf);
}

.app-logo {
  height: 140px;
}


body{
  background-image: url(./assets/images/home-page-bg.jpg);
  height: 100px;
  padding: 0;
  margin: 0;
 }
